In [ ]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

engine = create_engine('postgresql://postgres:9S7M7VnMlHtd8XaaCPJW@stacksports.chy6eciuay8o.us-east-2.rds.amazonaws.com:5432/stacksports')

query = """
SELECT * FROM sales_data
"""
df = pd.read_sql(query, engine)

print("Original data shape:", df.shape)

Successfully rolled back any pending transactions
Original data shape: (3900, 19)

In [25]:
## seasonal features
# seasonal encodings
season_mapping = {'Winter': 0, 'Spring': 1, 'Summer': 2, 'Fall': 3}
df['Season_Encoded'] = df['Season'].map(season_mapping)

# seasonal cyclical features
df['Season_sin'] = np.sin(df['Season_Encoded'] * (2 * np.pi / 4))
df['Season_cos'] = np.cos(df['Season_Encoded'] * (2 * np.pi / 4))

In [26]:
## geographic location features
northeast = ['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 'Rhode Island', 'Vermont', 'New York', 'New Jersey', 'Pennsylvania']
southeast = ['Delaware', 'Florida', 'Georgia', 'Maryland', 'North Carolina', 'South Carolina', 'Virginia', 'West Virginia', 'Alabama', 'Kentucky', 'Mississippi', 'Tennessee', 'Arkansas', 'Louisiana']
midwest = ['Illinois', 'Indiana', 'Michigan', 'Ohio', 'Wisconsin', 'Iowa', 'Kansas', 'Minnesota', 'Missouri', 'Nebraska', 'North Dakota', 'South Dakota']
southwest = ['Arizona', 'New Mexico', 'Oklahoma', 'Texas']
west = ['Alaska', 'California', 'Colorado', 'Hawaii', 'Idaho', 'Montana', 'Nevada', 'Oregon', 'Utah', 'Washington', 'Wyoming']

def assign_region(state):
    if state in northeast:
        return 'Northeast'
    elif state in southeast:
        return 'Southeast'
    elif state in midwest:
        return 'Midwest'
    elif state in southwest:
        return 'Southwest'
    elif state in west:
        return 'West'
    else:
        return 'Unknown'

df['Region'] = df['Location'].apply(assign_region)

In [27]:
## customer segmentation features

# age groups
df['Age_Group'] = pd.cut(df['Age'], bins=[0, 25, 35, 45, 55, 100], 
                        labels=['Under 25', '25-35', '35-45', '45-55', '55+'])

# value tier based on purchase amount
df['Value_Tier'] = pd.qcut(df['Purchase Amount (USD)'], 4, 
                          labels=['Budget', 'Value', 'Premium', 'Luxury'])

# high value customer based on previous purchases > median previous purchases
df['High_Value_Customer'] = (df['Previous Purchases'] > df['Previous Purchases'].median()).astype(int)

# purchase frequency -> numerical values
purchase_freq_mapping = {
    'Bi-Weekly': 8,
    'Weekly': 4,
    'Fortnightly': 2,
    'Monthly': 1,
    'Every 3 Months': 0.33,
    'Quarterly': 0.33,
    'Annually': 0.08,
}
df['Purchase_Frequency_Value'] = df['Frequency of Purchases'].map(purchase_freq_mapping)

In [28]:
## promotion and payment features

# yes/no to binary 0/1
df['Has_Discount'] = (df['Discount Applied'] == 'Yes').astype(int)
df['Used_Promo'] = (df['Promo Code Used'] == 'Yes').astype(int)
df['Is_Subscribed'] = (df['Subscription Status'] == 'Yes').astype(int)

# payment preference match
df['Payment_Pref_Match'] = (df['Payment Method'] == df['Preferred Payment Method']).astype(int)

In [29]:
## interaction features

df['Season_Category'] = df['Season'] + '_' + df['Category']
df['Region_Season'] = df['Region'] + '_' + df['Season']
df['Gender_Category'] = df['Gender'] + '_' + df['Category']

In [30]:
## aggregated features

# location based average purchase
location_avg = df.groupby('Location')['Purchase Amount (USD)'].mean().reset_index()
location_avg.columns = ['Location', 'Location_Avg_Purchase']
df = df.merge(location_avg, on='Location', how='left')

# category based average purchase
category_avg = df.groupby('Category')['Purchase Amount (USD)'].mean().reset_index()
category_avg.columns = ['Category', 'Category_Avg_Purchase']
df = df.merge(category_avg, on='Category', how='left')

# season based average purchase
season_avg = df.groupby('Season')['Purchase Amount (USD)'].mean().reset_index()
season_avg.columns = ['Season', 'Season_Avg_Purchase']
df = df.merge(season_avg, on='Season', how='left')

# item based average purchase
item_avg = df.groupby('Item Purchased')['Purchase Amount (USD)'].mean().reset_index()
item_avg.columns = ['Item Purchased', 'Item_Avg_Purchase']
df = df.merge(item_avg, on='Item Purchased', how='left')

# customer spending relative to location avearge
df['Spending_vs_Location_Avg'] = df['Purchase Amount (USD)'] / df['Location_Avg_Purchase']

# customer spending relative to category average
df['Spending_vs_Category_Avg'] = df['Purchase Amount (USD)'] / df['Category_Avg_Purchase']

In [ ]:
df.to_sql('sales_data_features', new_engine, if_exists='replace', 
             index=False, method='multi', chunksize=1000)
    
print("New data shape:", df.shape)
print("data saved as 'sales_data_features' table in PostgreSQL")

New data shape: (3900, 40)
Data saved to 'sales_data_features' table in PostgreSQL

In [ ]:
query = "SELECT * FROM sales_data_features"
df = pd.read_sql(query, engine)

print("head:")
display(df.head())

First 5 rows:

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,...,Payment_Pref_Match,Season_Category,Region_Season,Gender_Category,Location_Avg_Purchase,Category_Avg_Purchase,Season_Avg_Purchase,Item_Avg_Purchase,Spending_vs_Location_Avg,Spending_vs_Category_Avg
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,...,0,Winter_Clothing,Southeast_Winter,Male_Clothing,55.721519,60.025331,60.357364,60.877193,0.951159,0.882961
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,...,0,Winter_Clothing,Northeast_Winter,Male_Clothing,56.987013,60.025331,60.357364,57.695122,1.123063,1.066217
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,...,0,Spring_Clothing,Northeast_Spring,Male_Clothing,60.888889,60.025331,58.737738,60.870968,1.198905,1.216153
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,...,1,Spring_Footwear,Northeast_Spring,Male_Footwear,61.444444,60.255426,58.737738,57.500000,1.464738,1.493641
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,...,0,Spring_Clothing,West_Spring,Male_Clothing,57.337838,60.025331,58.737738,60.877193,0.854584,0.816322